
.home_nav_flex{
    display: flex;
    width: 100%;
    position: fixed;
}
.nav_icon{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    mix-blend-mode: multiply;
}
.home_header{
    font-size: 13px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* position: fixed; */
}
.samee_red{
    color: #961418;
}
.nav_text{
    margin-top: 15px;
}
.nav_text h3{
    color: #003399;
}
.nav_text h5{
position: relative;
bottom: 15px;
color: #003399;

}
.deals_in_head{
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1111;
    position: relative;
    width: 100%;
    top: 82px;
}
.deals_in_images{
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: -25px;
    background: transparent;
    width: 100%;
}
.contact_head{
    width: 100%;
    background: #002e89;
    border-radius: 10px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 25px;
    z-index: 11111;
}
.contact_input{
    width: 70%;
    padding: 6px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: darkgray;
    padding-left: 10px;
    margin-top: 8px;
}
.flex-label{
    display: block;
}
.text-white{
    display: block;
    margin-top: 10px;
    position: relative;
    top: 5px;
}
.contact_button{
    width: 40%;
    padding: 6px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: green;
    padding-left: 10px;
    margin-top: 14px;
    color: white;
    margin-bottom: 22px;
}
.nav_items{
    display: flex;
    margin-top: 25px;
    margin-left: 32px;
    gap: 10px;
}
.check_item{
    position: relative;
    bottom: 10px;
}
.check_facebook{
    margin-top: 3px;
}
.get_touch{
    background: #001c5094;
    padding: 10px;
    border-top-left-radius: 15px;
    box-shadow: -9px 9px 43px 12px #514c54;
}
.avl_items{
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
}
.footer_header{
    width: 100%;
    background: black;
    height: 184px;
    position: absolute;
    bottom: 0;
}
.uk_laptop{
    justify-content: center;
    text-align: center;
    margin-top: 17px;
    color: #003399;
}
.uk_laptop_icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 1111;
    position: relative;
}
.footer_header{
    color: white;
}
.address{
    margin: 14px;
}
.copy_write{
    position: absolute;
    right: 19px;
    bottom: -5px;
}
.check_whatsap{
    mix-blend-mode: multiply;

}
/* @media only screen and ( min-width : 340px ) and ( max-width : 680px ) { */


/* } */