.card {
  display: flex;
  flex-direction: column;
  border: 1px solid blanchedalmond;
  border-radius: 4px;
  box-shadow: 0 17px 5px rgb(5 4 0 / 10%);
  overflow: hidden;
  max-width: 285px;
  text-align: center;
  background: blanchedalmond;
  margin-left: 12%;
  margin-top: 12px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  .card:hover{
    transform: translateX(-20px);
  }
  .card:hover ~ .card{
    top: 50px;
  }
  .card_header{
    flex-wrap: wrap;
    display: flex;
    margin-top: -45px;
    margin-bottom: -120px;
  }
.card_price{
  position: relative;
  bottom: 32px;
  margin-bottom: -43px;
}
.product_nav{
  position: fixed;
  z-index: 10000;
  background: blanchedalmond;
  height: 74px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.card:hover {
  opacity: 1;
}
.card_img :hover {
  background-color: red;
  transform: rotate(45deg);
}
.footer_product{
  width: 100%;
  background: black;
  height: 100px;
  position: relative;
  font-size: 10px;
  bottom: -134px;
  z-index: 11111;
}


